services:
  - type: web
    name: Ahmat-Fat
    env: python
    buildCommand: "./build.sh"
    startCommand: "gunicorn Fat.wsgi:application"
    envVars:
      - key: PYTHON_VERSION
        value: 3.9.0
      - key: RENDER
        value: true
      - key: SECRET_KEY
        generateValue: true
      - key: WEB_CONCURRENCY
        value: 4
